<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="husband" class="bean.Husband">
        <property name="work" value="worker"/>
        <property name="wife" ref="wife"/>
    </bean>

    <bean id="wife" class="bean.Wife">
        <property name="husband" ref="husband"/>
        <property name="mother" ref="husbandMother"/>
    </bean>

    <bean id="husbandMother" class="bean.HusbandMother"/>

    <!-- AOP 配置，验证三级缓存 -->
    <bean class="aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="bean.SpouseAdvice"/>

    <bean id="methodInterceptor" class="aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="aop.aspect.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* bean.Wife.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>